.swagger-ui .topbar {
  background-color: #4D4D4D;
}

.swagger-ui .topbar .download-url-wrapper .download-url-button {
  background: #DE2A42;
}

.swagger-ui .topbar .download-url-wrapper input[type='text'] {
  border: 2px solid #DE2A42;
}
