.swagger-ui .topbar {
  background-color: #067cff;
}

.swagger-ui .topbar .download-url-wrapper .download-url-button {
  background: #ffd801;
}

.swagger-ui .topbar .download-url-wrapper input[type='text'] {
  border: 2px solid #ffd801;
}
